@charset "utf-8";
/* CSS Document */

/*
@font-face {
	font-family: 'notosanskr';
	src:url('../fonts/notosanskr/notosanskr.eot?-fvbane');
	src:url('../fonts/notosanskr/notosanskr.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/notosanskr/notosanskr.woff?-fvbane') format('woff'),
		url('../fonts/notosanskr/notosanskr.ttf?-fvbane') format('truetype'),
		url('../fonts/notosanskr/notosanskr.svg?-fvbane#notosanskr') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'notosanskr';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} =========== */

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
* {font-family:'notosanskr', sans-serif;}

/* default */
* {margin: 0; padding: 0;}
body{overflow-x:hidden;background:#fff;font-family:notosanskr,"맑은 고딕",Malgun Gothic,'돋움',dotum,AppleGothic,sans-serif;font-size:13px;color:#666666;line-height:1.2;font-weight:normal;padding:0px;margin:0px;letter-spacing:-0.5px;}
ul, ol, dl, dd, dt, li {list-style-type:none;margin:0px;padding:0px;line-height:1.2;}
img {border:0;outline:none;vertical-align:top;}
select {border:1px solid #ececec; height:22px; font-family:notosanskr,"맑은 고딕",Malgun Gothic,'돋움',dotum,AppleGothic,sans-serif; background:#fff; color:#666666; font-size:13px; margin-right:3px;vertical-align:top;}
input {border:1px solid #ececec; height:25px; font-family:notosanskr,"맑은 고딕",Malgun Gothic,'돋움',dotum,AppleGothic,sans-serif; background:#fff; color:#666666; font-size:13px;vertical-align:middle; }
input[type=checbox], input[type=radio] {border:none;}
textarea {border:1px solid #ececec; padding:5px; color:#666; resize: none; width:100%;}
address{font-style:normal;}
fieldset {border:0;}
td {padding:0px;margin:0px;}
img {vertical-align:top;}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-sizing:border-box;
  -o-sizing:border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {color:inherit; text-decoration:none; vertical-align: top; }
a:link, a:visited {color:#333;}
a:hover, a:focus, a:active, li a:hover, li:hover {text-decoration:none; /**/cursor:pointer;/*transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: 0.5s ease;  -o-transition: 0.5s ease; */}

.clearfix {clear:both;}

form input, form select, form label, form img {vertical-align: middle;}
fieldset {border: 0 none;}
em, address {font-style: normal;}
iframe {margin: 0; padding: 0;}
legend, .blind {
	visibility:hidden;
	position:absolute;
	left:-99999em;
	width:1px;
	height:1px;
	text-indent:-9999em;
	font-size:0;
	top:-9999em;
	overflow:hidden;
}
caption {
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	visibility:hidden;
	line-height:0;
}

/* 컨텐츠정렬관련 */
.tleft {text-align:left !important;} .tcenter {text-align:center !important;} .tright {text-align:right !important;}
.vttop {vertical-align:top !important;} .vtmdl {vertical-align:middle !important;} .vtcen {vertical-align:center !important;}
.fl {float:left;}
.fr {float:right;}
.brt {border-top:1px dashed rgba(255,255,255,.25);}
.Mcenter {margin: 0 auto;}
.hidden {display:none;}

/* 커서 */
.cursor {cursor:pointer;}

/*input*/
.intxt01 {height:22px;padding:2px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px;}
.intxt02 {height:16px;padding:3px 0 3px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top;}
.intxt03 {height:20px;padding:4px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px;}
.infile01 {height:26px;padding:4px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px; width:490px;}
.check01 {width:13px;height:13px;vertical-align:middle;border:none;}
.radio01 {width:12px;height:12px;border:none;background:none;padding:0px;}
.input_white {border:1px solid #ccc; height:22px; font-family:"맑은 고딕",Malgun Gothic,notosanskr,'돋움',dotum,AppleGothic,sans-serif; background:#fff; color:#666666; font-size:12px;vertical-align:middle;}


input.input90 {width:90%;}
input.input80 {width:80%;}
input.input50 {width:50%;}
input.input30 {width:30%;}
input.input20 {width:20%;}
input.input25 {width:25%;}
input.input10 {width:10%;}
select.sel90 {width:90%;}


/*폰트칼라*/
.fc_01 {color:#999;} /* */
.fc_02 {color:#f37224;}  /*오렌지*/
.fc_03 {color:#4099d4;}  /*블루*/
.fc_04 {color:#dc6a42;}  /*다크오렌지*/
.fc_05 {color:#f0da83;}  /*옐로우*/
.fc_06 {color:#97d9e5;}  /*밝은하늘*/
.fc_07 {color:#77d3be;}  /*청록*/
.fc_08 {color:#f1a97f;}  /*연한오렌지*/
.fc_09 {color:#a9a9a9;} 
.fc_10 {color:#848484;} 
.fc_11 {color:#e55827;}  /*다홍*/
.fc_12 {color:#1fb56c;}  /*다크그린*/
.fc_13 {color:#4a4a4a;}
.fc_green {color:#17a105;}
.fc_green1 {color:#568d0e;}
.fc_black {color:#000;}
.fc_dark {color:#696969;}
.fc_red {color:#e84445;}
.fc_brown {color:#bf815a;}
.fc_gray {color:#b4b4b4;}
.fc_white {color:#fff !important;}
.fc_blue {color:#636ac7 !important;}
.fc_pink {color:#636ac7 !important;}


.blue {color:blue !important;}
.red {color:red !important;}
.malgun {font-family:malgun gothic !important;}
.nanum {font-family:nanum gothic !important;}


/*폰트 사이즈*/
.fs_10{font-size:10px;}
.fs_11{font-size:11px;}
.fs_12{font-size:12px;}
.fs_13{font-size:13px;}
.fs_14{font-size:14px;}
.fs_15{font-size:15px;}
.fs_16{font-size:16px;}
.fs_17{font-size:17px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_25{font-size:25px;}
.under {text-decoration:underline;}
.bold {font-weight:bold !important;}
.normal {font-weight:normal !important;}
.taho {font-family:tahoma;}

/*숫자*/
.f_total0 {font-size:20px;color:#696969;font-weight:bold;font-family:tahoma;}
.f_total1 {font-size:18px;color:#884fb3;font-weight:bold;font-family:tahoma;}
.f_total {font-size:25px;color:#884fb3;font-weight:bold;font-family:tahoma;}
.f_month {font-size:25px;color:#3b3632;font-weight:bold;font-family:tahoma;}

/*input*/
.intxt01 {height:22px;padding:2px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px;}
.intxt02 {height:14px;padding:2px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px;}
.intxt03 {height:20px;padding:4px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px; width:80%;}
.infile01 {height:26px;padding:4px 0 2px 5px;border:1px solid #cccccc;font-size:12px;color:#666666; vertical-align:top; *margin-top:-1px; width:490px;}
.check01 {width:13px;height:13px;vertical-align:middle;border:none;}
.radio01 {width:12px;height:12px;border:none;}


/*기타*/
.letter_zero {letter-spacing:0 !important;}
.letter_1 {letter-spacing:-2.0px;}
.bold{font-weight:bold;}
.txt_deco{text-decoration:underline;}
.line_13{line-height:13px;}
.line_15{line-height:15px;}
.line_17{line-height:17px;}
.line_20{line-height:20px;}
.line_25{line-height:25px;}
.line_21{line-height:21px;}
.line_23{line-height:23px;}
.line_30{line-height:30px;}
.line_33{line-height:33px;}
.dashLine {height:10px;border-bottom:1px dashed #c0c0c0;}
.ellipsis {
    width: auto; /* 200px */
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block; /*block*/
}

/* 테이블 */
table {table-layout:fixed;}
th {font-weight:500;}
td {font-weight:300;}
td {word-break:break-all; word-wrap:break-word;}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping 
	tr:nth-of-type(odd) { 
		background: #eee; 
	}*/
	th { 
		background: #333; 
		color: #111; /* white */ 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		/* border: 1px solid #ccc; */
		text-align: left; 
	}


/* 패딩 */
.nopadding {padding:0 !important;}
.pdl35 {padding-left:35px !important;}
.pdr35 {padding-right:35px !important;}
.pdt15 {padding-top:15px !important;}
.pdt10 {padding-top:10px !important;}
.pdt20 {padding-top:20px !important;}

.pdb05 {padding-bottom:5px !important;}
.pdb10 {padding-bottom:10px !important;}

.pdt03 {padding-top:3px !important;}
.pdt05 {padding-top:5px !important;}
.pdt10 {padding-top:10px !important;}
.pdt30 {padding-top:30px !important;}


/* 마진 */
.mgt-03 {margin-top:-3px !important;}
.mgt02 {margin-top:2px !important;}
.mgt03 {margin-top:3px !important;}
.mgt05 {margin-top:5px !important;}
.mgt07 {margin-top:7px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt17 {margin-top:17px !important;}
.mgt20 {margin-top:20px !important;}
.mgt25 {margin-top:25px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}


.mgb0 {margin-bottom:0px !important;}
.mgb03 {margin-bottom:3px !important;}
.mgb04 {margin-bottom:4px !important;}
.mgb05 {margin-bottom:5px !important;}
.mgb06 {margin-bottom:6px !important;}
.mgb07 {margin-bottom:7px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb35 {margin-bottom:35px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb100 {margin-bottom:100px !important;}
.mgb150 {margin-bottom:150px !important;}

.mgl01 {margin-left:1px !important;}
.mgl02 {margin-left:2px !important;}
.mgl03 {margin-left:3px !important;}
.mgl05 {margin-left:5px !important;}
.mgl06 {margin-left:6px !important;}
.mgl07 {margin-left:7px !important;}
.mgl10 {margin-left:10px !important;}
.mgl15 {margin-left:15px !important;}
.mgl20 {margin-left:20px !important;}
.mgl25 {margin-left:25px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl45 {margin-left:45px !important;}
.mgl50 {margin-left:50px !important;}
.mgl55 {margin-left:55px !important;}
.mgl60 {margin-left:60px !important;}
.mgl67 {margin-left:67px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl91 {margin-left:91px !important;}
.mgl93 {margin-left:93px !important;}
.mgl95 {margin-left:95px !important;}
.mgl100 {margin-left:100px !important;}
.mgl120 {margin-left:120px !important;}
.mgl150 {margin-left:150px !important;}
.mgl200 {margin-left:200px !important;}
.mgl250 {margin-left:250px !important;}
.mgl270 {margin-left:270px !important;}
.mgl300 {margin-left:300px !important;}
.mgl334 {margin-left:334px !important;}
.mgl400 {margin-left:400px !important;}
.mgl426 {margin-left:426px !important;}

.mgr01 {margin-right:1px !important;}
.mgr02 {margin-right:2px !important;}
.mgr05 {margin-right:5px !important;}
.mgr10 {margin-right:10px !important;}
.mgr12 {margin-right:12px !important;}
.mgr15 {margin-right:15px !important;}
.mgr20 {margin-right:20px !important;}
.mgr23 {margin-right:23px !important;}
.mgr30 {margin-right:30px !important;}
.mgr40 {margin-right:40px !important;}
.mgr43 {margin-right:43px !important;}
.mgr50 {margin-right:50px !important;}
.mgr60 {margin-right:60px !important;}


/* 버튼 */
button {margin:0;padding:0;border:1px solid transparent;box-sizing:border-box;cursor:pointer;vertical-align:top;background:#fff;}
button:focus {outline:1px dotted;overflow:hidden;} 
button::-moz-focus-inner {border:0; padding:0;}
button::-ms-focus-inner {border:0; padding:0;}

button span {position:relative;top:0;left:0;}
.btn {display:inline-block;/*height:38px;*/padding:0 12px;background:#7d7d7d;text-align:center;border-radius:3px;}
.btn a {color:#fff;}
.btn a:hover{cursor:pointer;}
.btn span {font-size:15px;color:#fff;}

/*
.more {display:inline-block;height:32px;padding:0 46px;overflow:hidden;text-align:center;border:2px solid #000;background:#000;line-height:100%; letter-spacing:0;}
.more span {font-size:12px;font-weight:bold;color:#fff;}
.more.line {border:2px solid #fff;background:none;}
.black .more.line {border-color:#000;}
.black .more.line span {color:#000;}
.ico_btn {display:inline-block;height:35px;padding:0 25px;overflow:hidden;text-align:center;line-height:100%;border:1px solid #000;}
.ico_btn span {display:inline-block;font-size:14px;color:#000;}
.ico_btn .list {padding-left:19px;font-size:15px;background:url('/front/images/ico_list.png') no-repeat 0 2px;}

.ico_btn .submit {padding-left:19px;font-size:15px;background:url('/front/images/ico_chk.png') no-repeat 0 2px;}

.srh_btn {display:inline-block;height:38px;padding:0 16px;color:#fff;background:#000;}
.srh_btn span {padding-right:22px;font-size:15px;font-weight:bold;background:url('/front/images/ico_srh.png') no-repeat 100% 5px;}
.more_btn {diaplay:block;width:100%;padding:10px 0;margin-top:10px;text-align:center;}
.more_btn span {height:27px;padding:0 0 0 37px;font-size:20px;line-height:20px;vertical-align:top;border:0 none;}
.more_btn .more {color:#916800;background:url(/image/icon_more.png) no-repeat 0 0;}
.more_btn .loading {color:#929292;background:url(/image/loaging.gif) no-repeat 0 0;}

 @media only screen and (max-width: 650px) {
	.more {display:inline-block;height:auto;padding:2.5% 20px;overflow:hidden;text-align:center;border:1px solid #000;background:#000;line-height:100%; letter-spacing:0;}
	.more span {font-size:11px;font-weight:bold;color:#fff;}
	.more.line {border:1px solid #fff;background:none;}
}*/


/* 버튼-커스텀 */
.btnB {text-align:center;background:#333;color:#fff;font-size:11px;font-weight:normal;padding:9px 20px;border-radius:3px;cursor:pointer; border:1px solid #333;}
.btnG {text-align:center;background:#494949;color:#fff;font-size:11px;font-weight:normal;padding:2% 5%;border-radius:3px;cursor:pointer; } 
.btnO {text-align:center;background:#6ca800;color:#fff;font-size:11px;font-weight:normal;padding:2% 5%;border-radius:3px;cursor:pointer; }

.btnB1 {text-align:center;background:#333;color:#fff;font-size:11px;font-weight:normal;padding:2% 9%;border-radius:3px;cursor:pointer; display:inline-block;}
.btnG1 {text-align:center;background:#939393;color:#fff;font-size:12px;font-weight:normal;padding:6px 20px 7px 20px;border-radius:3px;cursor:pointer;}
.btnG2 {text-align:center;background:#939393;color:#fff;font-size:11px;font-weight:normal;padding:5px 10px;border-radius:3px;cursor:pointer;display:inline-block}
.btnG3 {text-align:center;color:#fff;background:#6a707e;font-size:10px;padding:1.5% 2%;border-radius:2px;cursor:pointer; display:inline-block;}
.btnG4 {text-align:center;color:#fff;background:#6a707e;font-size:11px;padding:2% 7%;border-radius:2px;cursor:pointer; display:inline-block;}
.btnG5 {text-align:center;color:#fff;background:#6ca800;font-size:10px;padding:1.5% 2%;border-radius:2px;cursor:pointer; display:inline-block;}
.btnDG {padding:1px 10px;text-align:center;background:#6a707e;color:#fff;margin-right:2px;font-size:11px;border-radius:3px;font-weight:normal;cursor:pointer;}

.btnW {text-align:center;background:#fff;color:#333;font-size:11px;font-weight:normal;padding:1.2% 5%;border-radius:3px;cursor:pointer; border:1px solid #494949;} 
.btnWs {text-align:center;background:#fff;color:#333;font-size:11px;font-weight:normal;padding:3px 9px;border-radius:3px;cursor:pointer; border:1px solid #b0b0b0;}


@media only screen and (min-width: 480px) {	
	.btnB {text-align:center;background:#333;color:#fff;font-size:12px;font-weight:normal;padding:10px 28px;border-radius:3px;cursor:pointer; }
	.btnG {text-align:center;background:#494949;color:#fff;font-size:12px;font-weight:normal;padding:10px 28px;border-radius:3px;cursor:pointer; }
	.btnO {text-align:center;background:#6ca800;color:#fff;font-size:12px;font-weight:normal;padding:10px 28px;border-radius:3px;cursor:pointer; } 
	
	.btnB1 {text-align:center;background:#333;color:#fff;font-size:12px;font-weight:normal;padding:6px 20px 7px 20px;border-radius:3px;cursor:pointer;}
	.btnG3 {text-align:center;color:#fff;background:#6a707e;font-size:11px;padding:6px 15px;border-radius:3px;cursor:pointer; display:inline-block;}
	.btnG4 {text-align:center;color:#fff;background:#6a707e;font-size:12px;padding:10px 28px;border-radius:3px;cursor:pointer; display:inline-block;}
	.btnG5 {text-align:center;color:#fff;background:#6ca800;font-size:11px;padding:6px 15px;border-radius:3px;cursor:pointer; display:inline-block;}
	
	.btnW {text-align:center;background:#fff;color:#333;font-size:12px;font-weight:normal;padding:10px 28px;border-radius:3px;cursor:pointer; }
}


/* indicator */
.control {position:relative;z-index:1;}
.indicator .cir, .indicator .ctr_toggle{display:inline-block;width:12px;height:12px;overflow:hidden;margin-right:5px;text-indent:-99999px;background:url(/image/controls.png) no-repeat -24px 0;}
.indicator .cir.on {background-position:0 0;}
.indicator .ctr_toggle {background-position:-70px 0;}
.indicator .ctr_toggle.play {background-position:-90px 0;}
.black .indicator .cir, .black .indicator .ctr_toggle{background-position:-24px -18px;}
.black .indicator .cir.on {background-position:0 -18px;}
.black .indicator .ctr_toggle {background-position:-70px -18px;}
.black .indicator .ctr_toggle.play {background-position:-90px -18px;}


/* pagination */
.pagination {position:relative;width:100%;text-align:center;}
.pagination span {display:inline-block; vertical-align:top;}
.pagination span:hover {cursor:pointer;}
.pagination span.btn_p {width:18px;height:18px;overflow:hidden;}
.pagination span.btn_p.prev {margin-right:5px;}
.pagination span.btn_p.next {margin-left:5px;}
.pagination span.btn_p.arrow {text-align:center;line-height:18px;color:#999;}
.pagination span.btn_p.btn_num {width:20px;height:18px;}
.pagination span. a {display:block;width:100%;height:100%;font-size:13px;color:#999;text-align:center;line-height:18px;}
.pagination span.btn_p a {display:block;text-align:center;line-height:16px;}
.pagination span.btn_num.on a {position:relative;font-weight:bold;color:#fff;background:#222;}
.pagination span.btn_num.on a:after {content:"";display:block;width:10px;height:1px;position:absolute;bottom:-3px;left:50%;margin-left:-5px;background:#3d3d3d;}

.cont_bottomWrap {clear:both;display:blcok;width:100%;}



/* 디바이스별 보이기/숨기기 */

.pc {visibility: hidden;}
.pc_i {visibility: hidden;}
.mb {visibility: visible;}
.mb_i {visibility: visible;}

@media only screen and (min-width: 768px) {...}

@media only screen and (min-width: 480px) {	
	.pc {visibility: visible;}
	.pc_i {visibility: visible;}
	.mb {visibility: hidden;}
	.mb_i {visibility: hidden;}
}

