@charset "utf-8";
/* CSS Document */

#allWrap {...}

#pw_box {width:100%;margin-bottom:50px;text-align:center;}
#pw_box .pw_tit {display:block;margin-bottom:20px;font-weight:bold;font-size:24px;color:#111;letter-spacing:-1px;}
#pw_box li {line-height:1.5;}
#pw_box .pw_ment {display:block;font-weight:normal;font-size:12px;color:red;padding:15px;background:#f9f9f9;border:1px solid #f1f1f1;}